* {
    box-sizing: border-box;
}
h1 {
    margin-left: 2%;
}
.menu1 {
    background-color: lightgray;
    padding-top: 1%;
    padding-bottom: 1%;
    position: sticky;
    top: 0;
    z-index: 29;
}
body {
    margin: 0;
}
p {
    padding: 1%;
    display: inline;
}
.azul {
    background-color: aqua;
    width: 60%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.rojo {
    background-color: red;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 150px;
    z-index: 3;
}
.verde {
    background-color: green;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 110px;
    left: 160px;
    z-index: 2;
}
.marron {
    background-color: lightcoral;
    width: 60%;
    height: 2000px;
    margin: 0 auto;
}
.menu2 {
    background-color: lightgray;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    position: fixed;
    bottom: 0;
}