* {
    box-sizing: border-box;
}
:root {
    --bg-color: #009fe3;
    --text-color: #fff;
    --header-text-color: #808080;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
}
.container {
    margin: 0 auto;
    width: 80%;
    padding-top: 3%;
}
#headerIzq {
    float: left;
    width: 20%;
}
#headerDer {
    float: right;
    width: 80%;
    color: var(--header-text-color);
    font-weight: bold;
}
.cb {
    clear: both;
}
header img {
    width: 80px;
}
header ul, header li {
    padding: 0;
    margin: 0;
}
header li {
    list-style-type: none;
    float: right;
    margin: 30px 5px 10px 20px;
    padding: 5px 10px;
}
header li:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 3px;
}
.fotoGrande {
    background-image: url(../Multimedia/img/fotogrande.jpg);
    height: 500px;
    background-size: cover;
}
#parr1 {
    width: 28%;
    font-size: 1.5rem;
    color: var(--text-color);
}
input:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 3px;
}
input {
    padding: 1%;
    width: 20%;
}
span {
    font-weight: bold;
}
.artGrandes {
    width: 300px;
    font-size: 0.5rem;
    color: var(--text-color);
    padding-bottom: 1%;
}
.artGrandes div {
    display: inline-block;
}
#rosa {
    background-color: rgb(250, 61, 124);
}
#naranja {
    background-color: orange;
}
.imgGrande {
    width: 300px;
}
.contenidoArtGrand {
    padding-left: 5%;
    padding-right: 5%;
}
.butGrand {
    color: #fff;
    float: right;
    width: 40%;
    border-radius: 3px;
    border-color: #fff;
}